<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>사용자 목록</title>
    <style>
        body {
            background-color: lemonchiffon !important;
        }

        .user-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .user-table th,
        .user-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .user-table th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<p>Welcome Administrator(<span sec:authentication="principal.username">User</span>)</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="LogOut"/>
</form>


<h2>전체 사용자 목록</h2>
<table class="user-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>이메일</th>
        <th>권한</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.email}">user@example.com</td>
        <td>
                        <span th:each="role, iterStat : ${user.roles}">
                        <span th:text="${role.rolename}">ROLE_USER</span>
                        <span th:if="!${iterStat.last}">, </span>
        </td>
    </tr>
    </tbody>
</table>

</body>

</html>